@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

html {
    background: url('images/bg.png');
}

body {
    background-image: url('images/bg.png');
    color: grey;
    font-family: 'Montserrat', sans-serif;
}

.main {
    padding-top: 10px;
}

.sub {
    padding-top: 50px;
}

.stat ul {
    padding-top: 20px;
    font-weight: bold;
    display: flex;
    list-style-type: none;
}

.stat ul li {
    flex: 1;
}

.buytab {
    margin-top: 30px;
    border: 1px solid;
    width: 400px;
}

.buytab label {
    background-image: url('images/bg.png');
    position: absolute;
    margin-left: -180px;
    padding: 10px;
    margin-top: -23px;
    color: grey;
    font-weight: bold;
    border: 1px solid #ffd201;
}

.confirm {
    background: white;
    color: grey;
    display: none;
}

.buyaction {
    margin-top: 30px;
    display: flex;
}

.buyaction input {
    flex: 1;
    height: 40px;
    background: none;
    border: none;
    outline: none;
    padding-left: 10px;
    color: white;
}

.buyaction button {
    margin-right: 10px;
    background: green;
    border: none;
    color: white;
    border-radius: 5px;
}

.buybuy {
    float: left;
}

.sellsell {
    float: right;
}

.manage {
    margin-bottom: 400px;
}

.floating {
    background: grey;
    position: absolute;
    width: 103%;
    margin-left: -10px;
    height: 130%;
    padding: 40px;
    margin-top: -19%;
    z-index: 5;
    background-color: rgba(000, 000, 000, 0.7);
}
